:root {
  --main-font-family: "Arvo", serif;
  --default-font-family: "Alegreya", serif;
  --main-font-color: #606470;
}

body {
  background-color: #dfd3c3;
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  margin: 50px;
  font-family: var(--main-font-family);
  font-size: larger;
  color: var(--main-font-color);
}
.nav-item {
  padding: 15px;
}

.nav-item a {
  text-decoration-line: none;
  color: inherit;
}

.nav-item a:hover {
  color: #ece8d9;
}

p {
  margin-top: 10%;
}

.icon {
  margin: 2%;
  color: black;
}

footer {
  margin-top: 8%;
}

@media (min-width: 360px) and (max-width: 980px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    justify-content: flex-start;
    font-size: small;
    color: #606470;
  }

  p {
    margin-top: 40%;
    margin-bottom: 70%;
  }
}
