:root {
  --main-font-family: "Arvo", serif;
  --default-font-family: "Alegreya", serif;
  --main-font-color: #606470;
}

body {
  background-image: url("bgimg-1.jpg");
  background-size: cover;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  margin: 50px;
  font-family: var(--main-font-family);
  font-size: larger;
  color: var(--main-font-color);
}
.nav-item {
  padding: 15px;
}

.nav-item a {
  text-decoration-line: none;
  color: inherit;
}

.nav-item a:hover {
  color: #ece8d9;
}

.intro-korea {
  font-size: 30px;
  min-width: 11px;
  white-space: nowrap;
  margin: 0;
  position: fixed;
  color: transparent;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-korea::before {
  content: "Korea, Land of the Morning Calm";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #233142;
  overflow: hidden;
  border-right: 1px solid black;
  animation: typing 10s steps(31) 1;
  background-color: #ececec;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@media (min-width: 360px) and (max-width: 980px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
    top: -15px;
  }

  .nav-item {
    justify-content: flex-start;
    font-size: small;
    color: black;
  }
  .intro-korea {
    font-size: medium;
  }
}
